.top-header-section {
    background-color: #262626;
    height: 8vh;
}

.bot-video-section {
    background-color: #181818;
    height: 92vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-body {
    margin-top: 20px;
    position: relative;
    height: fit-content;
}

.video-frame {
    width: 85vw;
    height: 70vh;
    border-radius: 10px;
}

.video-header {
    color: white;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 700;
}

.video-desc {
    color: #CBC9C9;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.vote-buttons {
    position: absolute;
    bottom: 10%;
    right: 0%;
    width: 120px;
    display: flex;
    justify-content: space-around;
}

button.rating-pill {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55px;
    height: 20px;
    font-size: 10px;
    background-color: #262626;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
}

button.rating-pill:hover {
    background-color: white;
    color: black;
}

.more-videos-dashboard {

}