.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters-container {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-items: center;
}

.genre-filter {
    width: 40%;
}

.age-filter {
    width: 60%;
}

.sort-bar {
    position: absolute;
    right: 15%;
    top: 5%;
}

.sort-bar > select {
    border-radius: 25px;
    width: 12vw;
    background-image: url("https://icons-for-free.com/download-icon-arrows+down+top+unitedarrowupdown+up+icon-1320185730125259271_512.png");
}

.sort-bar > select > option {
    color: white;
    background-color: #262626;
    -webkit-appearance: none;
}

.sort-bar > select > option:hover {
    color: black;
    background-color: white;
}

.pill {
    background-color: #262626;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px;
}

.pill:hover {
    color: black !important;
    background-color: white !important;
}

.selected {
    color: black !important;
    background-color: white !important;
}