.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.Logo {
    width: 78px;
}

.search-form {
    position: relative;
    width: 40vw;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
}

.search-field {
    color:#b3b3b3;
    width: 85%;
    height: 100%;
    background-color: #121212;
    border: 1px solid #444D56;
    border-radius: 2px 0px 0px 2px;
    box-sizing: border-box;
    padding: 5px 15px;
    outline: none;
}

.search-logo {
    text-indent: -999px;
    overflow: hidden;
    width: 15%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: inherit;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    background-color: #444D56;
    cursor: pointer;
    opacity: 1;
  }

.upload-button {
    padding: 5px 30px !important;
}