.dialog-box {
    background-color: #302f2f;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
    color: #999999 !important;
}
